.users-list > div:nth-child(even) {
  background-color: #ededed;
}

.users-list > div:nth-child(odd) {
  background-color: #fff;
}

.user-tile-container{
  display: flex;
  flex-grow: 1;
  gap: 3vw;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 3px 0;
  width: 100%;
}
.user-tile-container span{
  font-weight: bold;
  font-size: 1rem;
}
.user-tile-container >div{
  width: 10vw;
}
#current-user{
  background-color: rgb(169, 191, 183);
}
.admin-tag{
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}
