.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

#nav-bar{
  background-color: var(--semi-drak);
  color: white;
  padding: 10px 30px;
  list-style: none;
  border-bottom: 1px solid var(--lightest);
}
#nav-right{
  display: flex;
  align-items: center;
  justify-content: center;
}
#comp-name{
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 1.2rem;
  filter: saturate(0%);
  transition: all 0.3s ease-in-out;
}
#comp-name:hover{
  filter: saturate(100%);
  color: var(--lightest);
}
.gear-style{
  font-size: 1.5rem;
  margin: 0 5px;
  transition: all 0.5s ease-in-out;
}
.gear-style:hover{
  transform: rotate(180deg);
}
#navbar-logo{
  height: 60px;
}

#navbar-login{
  padding: 5px 10px;
}
#nav-bar-comp-logo{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
}
