#side-bar{
    position: sticky;

    /* display: flex; */
    /* position: absolute; */
    background-color: var(--drak);
    height: 92vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}

.sidebar-button.active{
    /* color: var(--semi-drak); */
    background-color: #434a4a;
    box-shadow: inset 0px 0px 10px #5d6363;
    /* border-radius: 10px; */
    /* font-weight: 700; */
}

.sidebar-button.active::before{
    /* color: var(--semi-drak); */
    background-color: #4dff00;
    /* border-radius: 10px; */
    /* font-weight: 700; */
    content: '';
    position: absolute;
    border-radius: 5px;
    bottom: 0px;
    /* bottom: -5px; */
    left: 0px;
    width: 100%;
    background-color: var(--lightest);
    height: 2px;
}

.sidebar-button{
    position: relative;
    color: white;
    text-decoration: none;
    margin: 0;
    /* text-align: center; */
    /* display: flex; */
    /* flex-grow: 1; */
    padding: 20px 45px;
    font-weight:400;
    width: 100%;
    /* transition: width 0.5s ease-in-out; */
}
.sidebar-button:hover{
    color: var(--lightest);
}
.sidebar-button::after{
    content: '';
    position: absolute;
    border-radius: 5px;
    bottom: 0px;
    /* bottom: -5px; */
    left: 0px;
    width: 0;
    background-color: var(--lightest);
    height: 2px;
    transition: width 0.3s ease-in-out;
}
.sidebar-button:hover::after{
    animation: slide-under 0.3s ease-out forwards;
}
.sidebar-button:not(:hover)::after {
    animation: slide-back 0.3s ease-in-out forwards;
}
@keyframes slide-under {
    0% {
        width: 0;
        /* height: 0; */
    }
    100% {
        width: 100%;

    }
}

@keyframes slide-back {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}


.my-button{
    margin-top: auto;
    background-color: var(--semi-drak);
    margin-bottom: 50px;
    padding: 24px;
    border-radius: 13px;
    color: white;
    transition: all 0.3s ease-in-out;
}
.my-button:hover{
    box-shadow: inset 1px 1px 5px 5px var(--drak);
    background-color: #5d6363;
    cursor: pointer;
}
