#all-services{
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    width: 82%;
}

#services-navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: var(--lightest);
    box-shadow: 0 2px 12px -2px var(--drak);
}
#services-navbar h3{
    color: var(--drak);
}
