#all-services{
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    width: 82%;
}

#services-navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: var(--lightest);
    box-shadow: 0 2px 12px -2px var(--drak);
}
#services-navbar h3{
    color: var(--drak);
}

.service-tile-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.service-modal-container{
    width: 60vw;
}
.service-tile-button{
    padding: 8px 15px;
    border-radius: 5px;
    background-color: var(--semi-drak);
    color: white;
    transition: all 0.3s ease-in-out;
    margin-left: 4px;
}
.service-tile-button:hover{
    cursor: pointer;
}
.edit-service:hover{
    background-color:var(--lightest);
    color: var(--drak);
}
.delete-service:hover{
    background-color: red;
}
.name-input{
    /* margin-left: 10px; */
    font-size: 1.5rem;
    flex-grow: 1;
    border: none;
}
.price-input{
    /* margin-left: 10px; */
    flex-grow: 0;
    font-size: 1.5rem;
    border: none;
    margin-bottom: 10px;
}

.name-input:active, .price-input:active,
.name-input:focus, .price-input:focus{
    border: none;
    /* background-color: red; */
}
.service-textarea{
    /* flex-grow: 1; */
    width: 100%;
    height: 20vh;
    font-size: 1.5rem;
    border: none;
    padding: 5px;
}
.service-form-container label{
    font-weight:600;
    width: 60vw;
}
