:root {
    --drak: #2c3333;
    --semi-drak: #2e4f4f;
    --light: #0e8388;
    --lightest: #cbe4de;
    --gray:  rgb(232, 232, 232);
}

.center{
    align-items: center;
}
.single-service-container{
    display: flex;
    align-items: center;
}
.remove-service-button{
    margin-left: 10px;
    height: 4vh;
    width: 4vh;
    padding: 2px;
    background-color: #2c3333;
    border: 1px solid var(--drak);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.remove-service-button:hover{
    cursor: pointer;
    background-color: white;
    color:#2c3333;
}
#document-logo{
    width: 50px;
    height: 50px;
}
.eastimate-top-info{
    display: flex;
    justify-content: space-between;
}
#estimate-company-info{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.estimate-services{
    margin-top: 20px;
    /* border: 1px solid var(--gray); */
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.single-service{
    position: relative;
    margin: 5px 0;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, auto);
    width: 100%;
}
.spot-a {
  grid-column: 1 / 5;
}
.spot-b {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
}
.spot-c {
  grid-column: 7 / 9;
  grid-row: 1 / 2;
}
.spot-d {
  grid-column: 9 / 11;
  grid-row: 1 / 2;
}
.spot-e {
  grid-column: 1 / 11;
  grid-row: 2 / 5;
}
.single-service input,
.single-service textarea{
    font-size: 1rem;
    padding: 5px;
    border: 1px solid var(--gray);
}
.single-service input:focus,
.single-service textarea:focus{
    background-color: var(--gray);
    outline: none;
}
#name-input{
    width: 100%;
}
#price-input{

}
#quantity-input{

}
#service-total{
    display: flex;
    justify-content: flex-end;
    padding: 2px 10px;
}
#description-input{
    /* height: 10vh; */
    /* padding-left: 5px; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 30px;
}
.service-list-link{
    position: absolute;
    border: none;
    background: none;
    color: #0e8388;
    right: 5px;
    top: 10px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.service-list-link:hover{
    cursor: pointer;
    color: black;
}
.container-test{
    position: relative;
    display: flex;
}
.services-buttons{
    display: flex;
    justify-content: space-between;
}

.customer-info-box{
    display: flex;
    flex-direction: column;
}
.add-customer-estimate{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #2c3333;
    background-color: #2c3333;
    color: white;
    transition: all 0.3 ease-in-out;
}
.add-customer-estimate:hover{
    cursor: pointer;
    color: #2c3333;
    background-color: white;
}
#estimate-customer-info{
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
    align-items: space-between;
}
#date-input{
    font-family: 'Montserrat', sans-serif;
}

.estimate-buttons-buttom{
    display: flex;
    justify-content: space-between;
}

.delete-estimate-button{
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: 700;
    background-color: #2e4f4f;
    color: white;
    transition: all 0.2s ease-in;
}
.delete-estimate-button:hover{
    cursor: pointer;
    background-color: red;
}
.discount-estimate{
    font-size: 1.5rem;
    width: 10vw;
    margin-left: 10px;
    border-radius: 5px;
    padding: 1px 5px;
}
.totals-div{
    margin: 15px 0;
}
.title-div{
    position: relative;
}
.saved-div-abs{
    position: absolute;
    background-color: bisque;
    bottom: 5px;
    padding: 5px 10px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.saved-div-abs.show {
    opacity: 1;
}
.customer-required{
    position: absolute;
    /* margin: auto; */
    top: 45px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.customer-required.show{
    opacity: 1;
}

.customers-modal{
    padding: 15px;
    width: 40vw;
    height: 60vh;
    overflow-y: scroll;
}
.quick-tile{
    margin: 4px 0;
    background-color: var(--gray);
    border: 1px solid gray;
    border-radius: 2px;
    padding: 3px;
}
.searchbar-container{
    position: relative;
    width: fit-content;
}
.search-icon{
    position: absolute;
    right: 5px;
    top: 8px;
}
.searchbar-container input{
    font-size: 1.5rem;
    padding: 3px;
}
